<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="com.mastercook777.heimdall.ProfileBundleTestProvider"
            android:authorities="com.mastercook777.heimdall.debug.test.profile-bundle"
            android:exported="true" />
    </application>
</manifest>
